server:
  port: 8080

spring:
  datasource:
    # Forzamos el driver
    driver-class-name: org.postgresql.Driver
    # Usamos ambas propiedades por compatibilidad
    url: ${SPRING_DATASOURCE_URL}
    jdbc-url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
